* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}

/* class dung chung */
.clear {
    content: "";
    display: block;
    clear: both;
}

img {
    max-width: 100%;
}

.main-color {
    color: #1f83ed;
}

.font_size20 {
    font-size: 20px;
}

.text-white {
    color: #fff;
}

.main-backround-color {
    background-color: #181616;
}

/* class dung chung */
/* button */
.btns-left-right {
    position: absolute;
    width: 100%;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.btn-left,
.btn-right {
    color: #fff;
    font-size: 30px;
    opacity: 0.6;
}

.btn-left:hover,
.btn-right:hover {
    color: #1f83ed;
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}
/* button */

.header_main {
    background-color: #000;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.movie_icon {
    float: left;
}

.movies-icon-main {
    display: inline-block;
    font-size: 30px;
    color: #1f83ed;
}

.container_header {
    overflow: hidden;
}

.nav_header {
    text-transform: uppercase;
    float: right;
}

.nav_menu {
    line-height: 60px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    /* do nav menu là có thẻ a là inline nên phải set thêm block de element thay đổi size */
    display: inline-block;
    transform: translateY(-0px);
    transition: 0.2s ease-in-out;
}

.nav_menu:hover {
    color: #1f83ed;
    transform: translateY(-4px);
    transition: 0.2s ease-in-out;
}

.nav_menu_btn {
    text-decoration: none;
    font-weight: 700;
    position: relative;
    /* cần thiết để ::before định vị được */
    padding: 11px 20px
}

.nav_menu_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    /* ban đầu chiếm 1 nửa */
    height: 100%;
    background-color: #1f83ed;
    transition: 0.3s ease-in-out;
}

.nav_menu_btn:hover::before {
    width: 100%;
    /* hover thì mở rộng đầy nút */
}

.nav_menu_btn span {
    position: relative;
    z-index: 1;
    /* chữ nằm trên lớp màu xanh */
}

.movie_icon {
    font-size: 23px;
    line-height: 60px;

}

.movie_icon a {
    text-decoration: none;
}

.logo_movies {
    color: #1f83ed
}

.fa-photo-film {
    font-size: 30px;
}

.nav_header {
    text-transform: uppercase;
    float: right;
    display: flex;
    align-items: center;
    gap: 30px
}

.text_movies {
    text-decoration: none;
    font-size: 32px;
    font-weight: 900;
}

.container_header {
    margin-left: 45px;
    margin-right: 45px;
}

/* Thanh tìm kiếm (Search Box) */
.search-box {
    position: relative;
    width: 250px;
    height: 38px;
    display: flex;
    align-items: center;
}

.search-box input {
    width: 100%;
    height: 100%;
    background-color: #181616;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 0 40px 0 15px;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
}
/*  nổi lên khi focus vào input search */
.search-box input:focus {
    border-color: #1f83ed;
    
}

/* icon kính lúp */
.search-box .search-icon {
    position: absolute;
    right: 15px;
    color: #aaa;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3 ease;
}

.search-box input:focus+.search-icon {
    color: #1f83ed;
}

/* hero-section */

.hero-section {
    width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
}

.hero-slide-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
    flex-shrink: 0;
}

/* Định dạng cấu hình cho ảnh tự co giãn chuẩn tỉ lệ */
.hero-slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    /* Giữ khung hình lấy từ đỉnh đầu nhân vật xuống */
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* Định vị khối nội dung đè lên overlay và căn giữa theo chiều dọc */
.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    /* Căn giữa nội dung theo chiều dọc */
    padding-left: 45px;
    /* Đẩy lề trái bằng lề chuẩn container_header của bạn */
}



/* Định dạng font chữ tiêu đề giống mẫu */
.item-content-title {
    font-size: 65px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 15px;
}

/* Căn hàng ngang cho các icon thông số */
.movie-infos {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.item-content-description {
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 35px;
}

.item-content-wraper {
    max-width: 500px;
    width: 100%;
}

.item-action {
    text-transform: uppercase;
    display: inline-block;
}

.play-icon {
    margin-right: 17px;
}

/* tạo hiệu ứng load trang cho từng elenment */
@keyframes slideDownFade {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-down {
    animation-name: slideDownFade;
    animation-duration: 0.8s;
    /* Thời gian chuyển động kéo dài 0.8 giây */
    animation-timing-function: ease;
    /* Kiểu chuyển động mượt mà */
    animation-fill-mode: forwards;
    /* Giữ nguyên trạng thái hiển thị sau khi chạy xong */
    opacity: 0;
    /* Ẩn chữ đi trước khi hiệu ứng bắt đầu chạy */
}

/* tạo độ trễ delay cho từng element từ trên xuống dưới*/
.delay-1 {
    animation-delay: 0.2s;
}

.delay-2 {
    animation-delay: 0.4s;
}

.delay-3 {
    animation-delay: 0.6s;
}

.delay-4 {
    animation-delay: 0.8s;
}


/* top-movies-slide */

.top-movies-slide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}


.top-movies-slide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}


.movies-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-top: 140%;
}


.movies-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.movies-item:hover img {
    transform: scale(1.08);
}


.movies-item-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.6);
}

.movies-item-title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.top-movies-slide .movie-infos {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
}

/* top-movies-slide */


/* late-movies */
.title-section__icon {
    color: #1f83ed;
    font-size: 38px;
    margin-right: 19px;
    transform: translateY(7px);
}

.container {
    padding: 80px 40px 0px;
}

.movies-slide {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 40px;
}

.title-section {
    color: #fff;
    font-size: 24px;
    display: block;
    margin-bottom: 30px;
    grid-column: 1/-1;
}


.late-movies .movie-infos {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
}

/* late-movies */

/*premium-series */
.premium-series {
    position: relative;
}

.shopping-card:hover {
    transform: scale(1.5);
    color: aqua;
    transition: 0.2s ease-in;
}

.btn-register {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

/*premium-series */

/* best-movies */
.best-movies .container {
    padding: 60px 40px 0px;
    display: flex;
    justify-content: center;
}

.line {
    background-color: #1f83ed;
    width: 100%;
    height: 2px;
}
/* best-movies */

/* đổi tên class thành .best-movies-banner để không bị ăn js của .hero-slide-item */
.best-movies-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
    flex-shrink: 0;
}


/*flix-pricing */
.flix-pricing {
    padding-bottom: 80px;
}

.flix-pricing .title-flix-pricing {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 28px;
    text-transform: uppercase;
}

.register-flix {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.register-flix-item {
    background-color: #221f1f;
    padding: 30px;
    transform: translateY(0px);
    transition: 0.2s ease-in-out;
}

.register-flix-item:hover {
    transform: translateY(-10px);
    transition: 0.2s ease-in-out;

}

.pricing-box__header {
    margin-top: 40px;
    font-size: 21px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.pricing-price {
    font-weight: 700;
}

.pricing-box-content {
    margin-top: 50px;
    font-size: 17.5px;
}

.pricing-feature {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.disable {
    text-decoration: line-through;
}

/*flix-pricing */

/* footer */
.footer {
    background-color: #221f1f;
}

.footer-container {
    padding: 0px 40px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-size: 14px;
}

.title-flix-footer {
    font-size: 28px;
}

.footer-content {
    font-size: 14px;
    padding: 0px 14px;
}

.title-flix-footer {
    display: inline;
}

.thank-cinema {
    margin-top: 20px;
}

.icon-social {
    margin-top: 20px;

}

.sub-icon-social {
    font-size: 30px;
    color: #fff;
}

.sub-icon-social:hover {
    color: #1f83ed;
    transition: 0.2s ease-in-out;
}

.footer-description {
    margin-top: 10px;

}

.footer-sub__description {
    margin-bottom: 10px;
    transform: translateX(0px);
    transition: 0.2s ease-in-out;
}

.footer-sub__description:hover {
    transform: translateX(4px);
    transition: 0.2s ease-in-out;
    color: #1f83ed;
    cursor: pointer;
}

.footer-title {
    padding: 25px 0px 0px;
}

.ch-play {
    margin-top: 5px;
    transform: translateX(0px);
    transition: 0.2s ease-in-out;
}

.ch-play:hover {
    transform: translateX(6px);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.app-store {
    margin-top: 5px;
    transform: translateX(0px);
    transition: 0.2s ease-in-out;
}

.app-store:hover {
    transform: translateX(6px);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* footer */
